<div class="columns">
  <div class="column is-6 is-offset-3">
    <h1 class="title has-text-centered">Mortgage Calculator</h1>
  </div>
</div>
<div class="columns">
  <div class="column is-4 is-offset-1">
    <h2 class="subtitle has-text-centered">Your Details</h2>
    <form [formGroup]="mortgageForm" novalidate>
      <p>Form value: {{ mortgageForm.value | json }}</p>
      <p>Form status: {{ mortgageForm.status | json }}</p>

      <div class="field">
        <label class="label">Surname</label>
        <div class="control">
          <input formControlName="surname" type="text" class="input">
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input formControlName="email" type="text" class="input">
        </div>
      </div>

      <div class="field">
        <label class="label">Phone</label>
        <div class="control">
          <input formControlName="phone" type="text" class="input">
        </div>
      </div>

      <div class="field">
        <label class="label">Salary</label>
        <div class="control">
          <input formControlName="salary" type="text" class="input">
        </div>
      </div>

      <div class="field">
        <label class="label">Deposit</label>
        <div class="control">
          <input formControlName="deposit" type="text" class="input">
        </div>
      </div>

      <div class="field">
        <label class="label">Term</label>
        <div class="control">
          <div class="select">
            <select formControlName="term">
              <option *ngFor="let term of terms" [value]="term">{{term}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Loan Amount</label>
        <div class="control">
          <input formControlName="loanAmount" type="text" class="input">
        </div>
      </div>

      <div class="field">
        <label class="label">Has Account</label>
        <div class="control">
          <label class="radio">
            <input type="radio" formControlName="hasAccount" value="false">
            Yes
          </label>
          <label class="radio">
            <input type="radio" formControlName="hasAccount" value="true">
            No
          </label>
        </div>
      </div>

    </form>
  </div>
</div>
