<div class="container">
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <h1 class="title has-text-centered">Mortgage Calculator</h1>
    </div>
  </div>
  <div *ngIf="errors" class="columns">
    <div class="column is-6 is-offset-3">
      <div *ngFor="let err of errors" class="notification is-danger">
        <button class="delete" (click)="deleteError(err)"></button>
        <p>{{err}}</p>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-6">
      <h2 class="subtitle has-text-centered">Your Details</h2>
      <form [formGroup]="mortgageForm" novalidate (keyup)="checkControls($event)">
        <!-- These buttons are for testing purposes only -->
        <div *ngIf="showDevButtons" class="has-text-centered">
          <button class="button" (click)="fillForm()">Fill Form</button>
          <button class="button" (click)="resetForm()">Clear Form</button>
        </div>
        <!-- These buttons are for testing purposes only -->

        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div class="field">
              <label class="label" for="surname">Surname</label>
              <div class="control has-icons-left">
                <input id="surname" [(ngModel)]="user.surname" formControlName="surname" type="text" class="input" [ngClass]="{
                  'is-success': validControl('surname') === true,
                  'is-danger': validControl('surname') === false
                }">
                <span class="icon is-small is-left" aria-hidden="true">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <div *ngIf="validControl('surname') === false">
                <p *ngIf="surname().errors.minlength" class="help is-danger">
                  Your surname must be at least 2 characters long
                </p>
                <p *ngIf="surname().errors.required" class="help is-danger">
                  Please enter your surname
                </p>
                <p *ngIf="surname().errors.pattern" class="help is-danger">
                  Your surname must contain only letters, apostrophies and hypens, and cannot start or end with a non-letter
                </p>
              </div>
            </div>

            <div class="field">
              <label for="email" class="label">Email Address</label>
              <div class="control has-icons-left">
                <input id="email" [(ngModel)]="user.email" formControlName="email" type="text" class="input" [ngClass]="{
                  'is-success': validControl('email') === true,
                  'is-danger': validControl('email') === false
                }">
                <span class="icon is-small is-left" aria-hidden="true">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <div *ngIf="validControl('email') === false">
                <p *ngIf="email().errors.required || email().errors.email || email().errors.pattern" class="help is-danger">
                  Please enter a valid email address
                </p>
              </div>
            </div>

            <div class="field">
              <label for="phone" class="label">Phone number</label>
              <div class="control has-icons-left">
                <input id="phone" [(ngModel)]="user.phone" formControlName="phone" [ngClass]="{
                  'is-success': validControl('phone') === true,
                  'is-danger': validControl('phone') === false
                }" type="text" class="input">
                <span class="icon is-small is-left" aria-hidden="true">
                  <i class="fa fa-phone"></i>
                </span>
              </div>
              <div *ngIf="validControl('phone') === false">
                <p *ngIf="phone().errors.required" class="help is-danger">
                  Please enter a phone number
                </p>
                <p *ngIf="phone().errors.pattern" class="help is-danger">
                  Please enter a valid phone number
                </p>
              </div>
            </div>

            <div class="field">
              <label for="salary" class="label">Annual Salary</label>
              <div class="control has-icons-left">
                <input id="salary" [(ngModel)]="user.salary" formControlName="salary" type="text" class="input" [ngClass]="{
                  'is-success': validControl('salary') === true,
                  'is-danger': validControl('salary') === false
                }">
                <span class="icon is-small is-left" aria-hidden="true">
                  <i class="fa fa-gbp"></i>
                </span>
              </div>
              <div *ngIf="validControl('salary') === false">
                <p *ngIf="salary().errors.required" class="help is-danger">
                  Please enter a salary amount
                </p>
                <p *ngIf="salary().errors.pattern || salary().errors.min || salary().errors.minlength" class="help is-danger">
                  Please enter a valid salary amount
                </p>
              </div>
            </div>

            <div class="field">
              <label for="deposit" class="label">Deposit Amount</label>
              <div class="control has-icons-left">
                <input id="deposit" [(ngModel)]="loan.deposit" formControlName="deposit" type="text" class="input" [ngClass]="{
                  'is-success': validControl('deposit') === true,
                  'is-danger': validControl('deposit') === false
                }">
                <span class="icon is-small is-left" aria-hidden="true">
                  <i class="fa fa-gbp"></i>
                </span>
              </div>
              <div *ngIf="validControl('deposit') === false">
                <p *ngIf="deposit().errors.required" class="help is-danger">
                  Please enter a deposit amount
                </p>
                <p *ngIf="deposit().errors.pattern || deposit().errors.min || deposit().errors.minlength" class="help is-danger">
                  Please enter a valid deposit amount
                </p>
              </div>
            </div>

            <div class="columns">

              <div class="column is-5">
                <div class="field">
                  <label for="term" class="label">Loan Term</label>
                  <div class="control">
                    <div class="select" [ngClass]="{'is-success': this.mortgageForm.get('term').touched === true}">
                      <select id="term" [(ngModel)]="loan.term" formControlName="term" (change)="checkControls($event)">
                        <option *ngFor="let term of terms" [value]="term">{{term}} years</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="field">
                  <label for="hasAccount" class="label">Do you have an account?</label>
                  <div class="control">
                    <div class="select" [ngClass]="{'is-success': this.mortgageForm.get('hasAccount').touched === true}">
                      <select id="hasAccount" [(ngModel)]="user.hasAccount" formControlName="hasAccount" (change)="checkControls($event)" >
                        <option value="false" selected>No</option>
                        <option value="true">Yes</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="field">
              <label for="loanAmount" class="label">Loan Amount</label>
              <div class="control has-icons-left">
                <input id="loanAmount" [(ngModel)]="loan.amount" formControlName="loanAmount" type="text" class="input" [ngClass]="{
                  'is-success': validControl('loanAmount') === true,
                  'is-danger': validControl('loanAmount') === false
                }">
                <span class="icon is-small is-left" aria-hidden="true">
                  <i class="fa fa-gbp"></i>
                </span>
              </div>
              <div *ngIf="validControl('loanAmount') === false">
                <p *ngIf="loanAmount().errors.required" class="help is-danger">
                  Please enter a loan amount
                </p>
                <p *ngIf="loanAmount().errors.pattern || loanAmount().errors.min || loanAmount().errors.minlength" class="help is-danger">
                  Please enter a valid loan amount
                </p>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="column is-6">
      <h2 class="subtitle has-text-centered">Your Options</h2>
      <div *ngIf="!completedForm()">
        <h2 class="subtitle has-text-centered">
          Your mortgage options will be shown when you have entered all of your details
        </h2>
      </div>
      <div *ngIf="completedForm()">
        <div *ngIf="availableOptions?.length === 0; else showOptions">
          <h2 class="subtitle has-text-centered" *ngIf="availableOptions.length === 0">
            Unfortunately, there are no mortgage options available for the details that you provided
          </h2>
        </div>
        <ng-template #showOptions>
          <table class="table is-hoverable is-narrow is-fullwidth">
            <thead>
              <th *ngFor="let heading of tableHeadings">{{heading}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let opt of availableOptions; let i = index">
                <td>{{opt.name}}</td>
                <td>{{opt.interestRate | percent}}</td>
                <td>{{loan.term}} years</td>
                <td>{{loan.amount | currency:'GBP':true:'3.2-2'}}</td>
                <td>{{opt.totalPayable}}</td>
                <td>
                  <span>{{opt.monthlyRepayment}}</span><span *ngIf="i === 0" class="tag rounded is-success">Best Option!</span>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>

      </div>
    </div>
  </div>
</div>
